@import '/styles/colors';
@import 'styles/device';

.container {
	width: 100%;
	display: flex;
	padding: 65px 0;
	justify-content: center;
	& > div {
		width: 100%;
		max-width: 1200px;
		h4 {
			font-weight: 600;
			font-size: 20px;
			color: $main-color;
			margin-bottom: 12px;
		}
	}
	@include devices(mobile) {
		padding: 30px 25px;
		& > div {
			h4 {
				font-size: 12px;
				margin-bottom: 4px;
			}
		}
	}
	@include devices(planshet) {
		padding: 65px 25px;
	}
}
.header {
	display: grid;
	column-gap: 24px;
	margin-bottom: 40px;
	grid-template-columns: 1fr 2fr;
	h3 {
		color: $black;
		font-size: 40px;
		font-weight: 700;
	}
	p {
		color: $gray20;
		font-size: 20px;
		font-weight: 400;
		max-width: 500px;
	}
	@include devices(mobile) {
		row-gap: 7px;
		grid-template-columns: 100%;
		h3 {
			font-size: 24px;
			max-width: 150px;
		}
		p {
			font-size: 16px;
			max-width: 100%;
		}
	}
}

.content {
	display: grid;
	column-gap: 24px;
	grid-template-columns: 1fr 1fr 1fr;
	@include devices(mobile) {
		row-gap: 40px;
		grid-template-columns: 100%;
	}
}

.card {
	width: 100%;
	display: flex;
	flex-direction: column;
	& > div {
		width: 100%;
		height: 384px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	h2 {
		font-size: 24px;
		color: $black10;
		font-weight: 600;
		margin: 24px 0 7px;
	}
	p {
		color: $gray20;
		font-size: 16px;
		font-weight: 300;
	}
	@include devices(mobile) {
		h2 {
			font-size: 18px;
			margin: 20px 0 5px;
		}
		p {
			font-size: 14px;
		}
	}
}
