$main-color: #7f7eff;
$purple: #e7defe;
$black: #191919;
$black10: #040815;
$black20: #0d121f;
$black30: #1a202c;
$gray: #6f6c90;
$gray10: #d9dbe9;
$gray20: #596780;
$gray30: #90a3bf;
$gray40: #f3f5f7;
$gray50: rgba(246, 247, 249, 0.25);
$gray60: #c3d4e9;
$gray70: #f6f7ff;
$dark-blue: #170f49;
$white: #f3f5f7;
$linear-gradient: linear-gradient(180deg, #7f7eff -2.75%, #6558e5 100%);
$linear-gradient10: linear-gradient(180deg, #7f7eff 0%, #6558e5 100%);
