@import 'colors';

.container {
	flex-grow: 1;
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow-y: auto;
	min-height: 100vh;
	overflow-x: hidden;
	align-items: center;
	flex-direction: column;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-track {
		background: white;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: $main-color;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: white;
	}
}

.hidden {
	overflow-y: hidden;
}
